.title-page{
   text-align: center;
}

.title {
  text-align: center;
  color: #95adbe;
}

.name {
    text-align: center;
    color: #95adbe;
}

body {
    background-color:#503a65;
 }

.about-me-text{
   text-align: right;
    color: #95adbe;
 }

.experience-page {
    text-align: left;
    color: #95adbe;
 }

.project-images {
   flex-wrap: wrap;
   flex-direction: row;
   text-align: center;
 }

.project-title {
   text-align: right;
    color: #95adbe;
 }

.contact-me-page {
   text-align: left;
    color: #95adbe;
 }

.contact-info {
   text-align: left;
    color: #95adbe;
    
}

.about-me-button{
   text-align: right;
   color: #95adbe;
}

.about-me-button:hover{
   transition: 0.7s;
   color:#3c2a4d;
   cursor: pointer;
}
.experience-button{
   text-align: right;
   color: #95adbe;
}

.experience-button:hover{
   transition: 0.7s;
   color:#3c2a4d;
   cursor: pointer;
}
.contact-button{
   text-align: right;
   color: #95adbe;
}

.contact-button:hover{
   transition: 0.7s;
   color:#3c2a4d;
   cursor: pointer;
}
.projects-button{
   text-align: right;
   color: #95adbe;
}

.projects-button:hover{
   transition: 0.7s;
   color:#3c2a4d;
   cursor: pointer;
}
.top-btn-position {
   position: fixed;
   bottom: 15px;
   right: 20px;
 }
 
.top-btn-style {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 2px solid #95adbe;
   background-color: #3c2a4d;
   color: #95adbe;
   cursor: pointer;
 }
 
.top-btn-style:hover {
   animation: none;
   background-color: #95adbe;
   color: #3c2a4d;
   border: 2px solid #3c2a4d;
 }