.title-page{
   text-align: center;
}

.title {
  text-align: center;
  color: #95adbe;
}

.name {
    text-align: center;
    color: #95adbe;
}

body {
    background-color:#503a65;
 }

.about-me-text{
   text-align: right;
    color: #95adbe;
 }

.experience-page {
    text-align: left;
    color: #95adbe;
 }

.project-images {
   flex-wrap: wrap;
   flex-direction: row;
   text-align: center;
 }

.project-title {
   text-align: right;
    color: #95adbe;
 }

.contact-me-page {
   text-align: left;
    color: #95adbe;
 }

.contact-info {
   text-align: left;
    color: #95adbe;
    
}

* {
   font-family: Optima, sans-serif;
}

.navBar {
   display: flex;
   justify-content: space-between; /* To create space between name and links */
   align-items: center; /* To vertically center the content */
   background-color: #3c2a4d; /* Adjust background color as needed */
   padding: 10px; /* Add some padding for spacing */
 }
 
 /* Style for the name */
 .myNameBox {
   flex: 1; /* Take up remaining space */
 }
 
 .myName {
   color: #95adbe; /* Set the text color for the name */
 }
 
 /* Style for the navigation links */
 .navLinksBox {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .navLinksBox > div {
   margin-right: 10px; /* Adjust the spacing between links */
 }
 
 .navLinksBox a {
   text-decoration: none;
   color: #95adbe; /* Set the link text color */
   background-color: transparent;
 }
 
 .navLinksBox > li {
   margin-right: 20px; /* Adjust the spacing between links */
 }
 /* Style for active links (when the link is active) */
 .navLinksBox a[aria-current="page"] {
   background-color: #e0f0ea; /* Set the background color for active links */
 }